<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body class="bg-light d-flex flex-column h-100">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Guitar Store </a>

        <div class="collapse navbar-collapse justify-content-md-right">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item ">
                    <a class="nav-link " href="/cart">Cart</a>
                </li>
            </ul>

        </div>
    </nav>
    <main role="main">


        <div class="container ">
            Your shopping cart
        </div>

        <div class="container ">
            <table class="table-dark ">
                <td></td>
            </table>


    </main>
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">Sample footer.</span>
        </div>
    </footer>
</body>